*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(36, 29, 29);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("/imgesamz/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2*/
.nav-address {
    border: 1.5px solid transparent;
    transition: border 0.3s ease; /* Add transition for smooth effect */
}

.nav-address:hover {
    border: 1.5px solid white;
}
.nav-search:hover{
    border: 2px solid orange;
}

/* box2*/
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 4px;
}

.add-icon {
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    background-color: pink;
    width: 625px;
    height:40px;
    border-radius: 5px;
}
.search-input{
    width: 100%;
    border: white;
    font-size: 1rem;
}
.search-select{
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.src-icon{
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(194, 122, 14);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hlosign {
    font-size: 0.85rem;
}
.sign-account {
    font-size: 1rem;
    font-weight: bold;
}
.Returns{
    font-size: 0.85rem;
}
.signin:hover{
    border: 1.5px solid white;
}
.order:hover{
    border: 1.5px solid white;
}
.item-order{
    font-size: 1rem;
    font-weight: bold;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: bold;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    display:inline;
    margin-left: 15px;
}
.panel-all{
    font-size: 1.1rem;
}
.panel-opt{
    width: 75%;
    font-size: 0.85rem;
}
.panel-deals{
   font-size: 0.90rem;
   font-weight: 700;
}
.panel-opt i:hover{
    border: 1px solid white;
}
.hero-section{
    height: 400px;
    background-image: url("/imgesamz/hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height: 40px;
    width: 85%;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.hero-msg a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /*border: 1px solid black;*/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box1-img{
    height: 320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box1-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box1-content p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #222f3d;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 15px;
}
ul p{
    font-size: 1rem;
    font-weight: 700;
}
ul a{
    display: block;
    margin-top: 7px;
    color: #dddddd;
}